<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DetectJail.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0AA74F9274943B8EF31D67488D4B9EFB528AEDFB</string>
				<key>dateExpires</key>
				<string>8.07.2020</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7SH627DBA4.com.atilsamancioglu.DetectJail</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7SH627DBA4</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>7SH627DBA4.com.atilsamancioglu.DetectJail</string>
				</array>
			</dict>
			<key>name</key>
			<string>DetectJail.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>406f7145-33f0-400b-b7f8-a9603cf32db7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7SH627DBA4</string>
				<key>name</key>
				<string>Atil Samancioglu</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
